# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
*.iml
out

# Project settings files
/.idea/copyright/
/.idea/inspectionProfiles/
/.idea/libraries/
/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/dataSources.ids
/.idea/encodings.xml
/.idea/dataSources.xml

# Maven output files
/target/surefire-reports/
/target/generated-sources/
/target/surefire/
/target/apache-tomcat-maven-plugin/
/target/maven-archiver/
/target/Notes/
/target/test-classes/
/target/classes/
/target/tomcat/work/
/target/tomcat/logs/
/target/tomcat/webapps/
/target/Notes.war
