<?xml version="1.0" encoding="UTF-8" ?>
<web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4" >

    <display-name>Notes</display-name>
    <description>This application can help you create notes.</description>

    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SignInUpServlet</servlet-name>
        <servlet-class>ru.mrchebik.servlets.SignInUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInUpServlet</servlet-name>
        <url-pattern>/notes/sign</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNoteServlet</servlet-name>
        <servlet-class>ru.mrchebik.servlets.AddNoteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddNoteServlet</servlet-name>
        <url-pattern>/notes/note/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewNotes</servlet-name>
        <servlet-class>ru.mrchebik.servlets.ViewNotesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewNotes</servlet-name>
        <url-pattern>/notes/view</url-pattern>
    </servlet-mapping>

</web-app>